
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WriteStaff</title>
</head>
<body>
    <div>
        @ViewBag.name;<br/>
        @ViewBag.sex;<br />
        @ViewBag.birthday;<br />
        @ViewBag.identity_card;<br />
        @ViewBag.place;<br />
        @ViewBag.nation;<br />
        @ViewBag.marital_status;<br />
        @ViewBag.politics_status;<br />
        @ViewBag.department ;<br />
        @ViewBag.position;<br />
        @ViewBag.duty;<br />
        @ViewBag.type;<br />
        @ViewBag.my_fixed;<br />
        @ViewBag.alltsutomu;<br />
        @ViewBag.target;<br />
        @ViewBag.reach_bonus ;<br />
        @ViewBag.commission;<br />
    </div>
</body>
</html>
